<nav class="navbar navbar-expand-lg navbar-light bg-white py-3" style="z-index:1000;">
    <div class="container px-5">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0 small fw-bolder">
                
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="friends">Friends</a></li>
                <li class="nav-item"><a class="nav-link" href="family">Family</a></li>
            </ul>
        </div>
    </div>
</nav>